{% load static %}

		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a href="{% url 'home' %}"><img src="{% static 'img/1.png' %}" alt="" title="" /></a>
			      </div>
			      <nav id="nav-menu-container">
                  <ul class="nav-menu">
			          <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      <li><a href="#">Ex-Student List</a></li>
                      <li class="menu-has-children"><a href="{% url 'eventpage' %}">Event</a>
			            <ul>
			              <li><a href="{% url 'gallery' %}">Photo Gallery</a></li>
                          <li><a href="{% url 'video' %}">Video Gallery</a></li>
                          <li><a href="{% url 'social' %}">Social Activities</a></li>
                          <li><a href="#">Documentation</a></li>
                          <li><a href="#">Rare Collection</a></li>
			            </ul>
			          </li>
                    
			          <li class="menu-has-children"><a href="{% url 'scholarship' %}">Scholarship</a>
			            <ul>
			              <li><a href="{% url 'type' %}">Type</a></li>
                          <li><a href="#">Condition</a></li>
                          <li><a href="#">Who awarded</a></li>
			            </ul>
			          </li>	
                      <li class="menu-has-children"><a href="{% url 'home' %}">KD School</a>
                      <ul>
                      <li><a href="{% url 'history' %}">History</a></li>
                      <li><a href="#">Our Teachers</a></li>
                      <li><a href="#">Result</a></li>
                      <li><a href="#">Update Info</a></li>
                      <li><a href="#">Freedom Fighter</a></li>
                        </ul>
			            
                      </li>		
                      
                      
                      <li class="menu-has-children"><a href="">Download</a>
                      <ul>
                      <li><a href="#">Membership Form</Form></a></li>
                      <li><a href="#">Scholarship Application Form</a></li>
                     
                      
                        </ul>
			            
                      </li>		
                      

			          <li><a href="{% url 'contact' %}">Contact</a></li>
			        </ul>
			      </nav><!-- #nav-menu-container -->		    		
		    	</div>
		    </div>

